.Home {
  text-align: center;
}

.Home-body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #eee;
}

.Home-loot {
  position: relative;
  width: 70%;
}

.Home-logs {
  width: 30%;
}
