.Home {
  text-align: center;
}

.Home-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Home-news {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
}

.Home-logs {
  align-self: center;
}

.News-photo {
  margin: 10px;
}
