.Progression {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  position: relative;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  /* font-family: 'Syncopate', sans-serif; */
}

.Progression-raid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Progression-name {
  font-weight: 800;
  color: #fefefe;
  padding-left: calc(10vw / 18);
  text-align: left;
}

.Progression-bosses {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
