.Progression {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 9px 0px #111;
  box-sizing: border-box;
  font-family: 'Syncopate', sans-serif;
}

.Progression-raid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Progression-name {
  font-weight: 600;
  color: #BC3908;
  padding-left: calc(10vw / 18);
  text-align: left;
}

.Progression-bosses {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
