.Boss {
  width: 7vw;
  margin: calc(10vw / 18);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}

.Boss-image-container {
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.Boss-image {
  width: 100%;
  height: 100%;
}

.Boss-killed {
  filter: grayscale(70%);
}

.Boss-difficulty {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}

.Boss-difficulty-badge {
  width: 22px;
  height: 22px;
  margin: 5px;
}
