.LogsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.LogsContainer-title {
  font-size: 18px;
  font-family: 'Syncopate', sans-serif;
  color: #BC3908;
}

.LogsContainer-latest {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.15s linear;
}

.LogsContainer-latest:hover {
  background-color: #F6AA1C;
}

.LogsContainer-latest-title {
  margin: 5px;
  color: #941B0C;
}

.LogsContainer-latest-date {
  margin: 5px;
  color: #621708;
}

.LogsContainer-latest-live {
  margin: 5px;
  color: #941B0C;
}
