.Member {
  width: 19vw;
  max-height: 23vw;
  margin: calc(20vw / 8);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.Member-image-container {
  width: 100%;
  height: 19vw;
  position: relative;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.Member-image {
  width: 100%;
  height: 100%;
  background-position: 50% 60%;
  background-size: 200%;
  transition: transform 0.2s linear;
}

.Member-image:hover {
  transform: scale(1.2);
}

.Member-info {
  height: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  color: #aaa;
  font-weight: 600;
}

.Member-info-text {
  font-size: 12px;
  margin: 0;
}

.Member-role {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  z-index: 1;
  margin: 5px;
  opacity: 0.8;
  pointer-events: none;
}
