.NavMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s, padding 0.2s;
  z-index: 1;
}

.NavMenu-scrolled {
  padding: 8px 32px;
  background-color: rgba(0, 0, 0, 1.0);
}
