.NavMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
}

.NavMenu-item {
  color: #aaa;
  font-size: 22px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.2s;
}

.NavMenu-item:hover {
  color: white;
}
