.NewsItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  font-size: 12px;
  background-color: #444;
  color: white;
  flex-direction: column;
}

.NewsItem-info {
  cursor: pointer;
  color: #87B6A7;
}

.NewsItem-info:hover {
  color: white !important;
}

.NewsItem-info:link {
  text-decoration: none;
}

.NewsItem-item {
  cursor: pointer;
  color: #c600ff;
}

.NewsItem-item:hover {
  color: white;
}

.NewsItem-item:link {
  text-decoration: none;
}
