.App {
  text-align: center;
}

.App-header {
  position: relative;
  padding: 20px;
  color: white;
}

.App-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('./assets/cover_photo.jpg') center no-repeat;
  background-size: cover;
  z-index: -1;
}

.App-overlay {
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.App-name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: default;
}

.App-logo {
  height: 80px;
}

.App-title {
  font-size: 2.5em;
  margin: 20px;
  color: white;
}

.App-title:hover {

}
