.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: 2.5em;
  margin: 20px;
}

.App-body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #eee;
}

.App-loot {
  width: 50%;
}

.App-logs {
  width: 50%;
}
